:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgb(0, 0, 0);
  --blue: rgb(0, 0, 255);
  --red: rgb(255, 0, 0);
  --font-nastaliq: 'Nastaliq', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nastaliq;
  src: url(Nastaliq.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#slides {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}

#searchGroup {
  width: 60vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#search {
  width: 60vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#searchLabel {
  width: 20vw;
  height: 4vh;
  border: 1px solid rgb(0, 50, 20);
  text-align: center;
  align-content: center;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 50, 20);
  font-family: var(--font-nastaliq);
  font-size: 0.8rem;
}

#page {
  width: 15vw;
  height: 4vh;
  border: 1px solid rgb(0, 50, 20);
  border-radius: 5px;
  text-align: center;
  color: rgb(0, 50, 20);
  background-color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

#submit {
  width: 20vw;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid rgb(0, 50, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 50, 20);
  font-family: var(--font-nastaliq);
  font-size: 0.8rem;
  cursor: pointer;
}

#message {
  width: 60vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(180, 0, 0);
  font-family: var(--font-nastaliq);
  font-size: 0.8rem;
}

input[type="number"] {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  font-family: var(--font-nastaliq);
  font-size: calc(1rem + 1vw);
  cursor: pointer;
}


.topic {
  font-family: var(--font-nastaliq);
  font-size: calc(1rem + 1vw);
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
}

.next {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-right: 2rem solid rgb(0, 50, 20);
  border-bottom: 1rem solid transparent;
}

.previous {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-left: 2rem solid rgb(0, 50, 20);
  border-bottom: 1rem solid transparent;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.title {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-nastaliq);
  font-size: calc(1rem + 1vw);
  line-height: 2;
  color: var(--black);
}

.contents {
  width: 100%;
  height: 90%;
  font-size: 1.15rem;
  line-height: 2;
  color: var(--black);
}

#contentsP {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 0.05rem solid var(--black);
}

.paraName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--white);
}

#contentsS {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(38, 1fr);
  border: 0.05rem solid var(--black);
  overflow-y: scroll;
}

.suraName {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

#pnOne {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  border: 0.025rem solid var(--black);
}

#pnTwo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 0.025rem solid var(--black);
}

#pnThree {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border: 0.025rem solid var(--black);
}

#pnFour {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  border: 0.025rem solid var(--black);
}

#pnFive {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 0.025rem solid var(--black);
}

#pnSix {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 0.025rem solid var(--black);
}

#pnSeven {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  border: 0.025rem solid var(--black);
}

#pnEight {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border: 0.025rem solid var(--black);
}

#pnNine {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border: 0.025rem solid var(--black);
}

#pnTen {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  border: 0.025rem solid var(--black);
}

#pnEleven {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  border: 0.025rem solid var(--black);
}

#pnTwelve {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  border: 0.025rem solid var(--black);
}

#pnThirteen {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  border: 0.025rem solid var(--black);
}

#pnForteen {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  border: 0.025rem solid var(--black);
}

#pnFifteen {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  border: 0.025rem solid var(--black);
}

#pnSixteen {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  border: 0.025rem solid var(--black);
}

#pnSeventeen {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  border: 0.025rem solid var(--black);
}

#pnEighteen {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  border: 0.025rem solid var(--black);
}

#pnNinteen {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
  border: 0.025rem solid var(--black);
}

#pnTwenty {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  border: 0.025rem solid var(--black);
}

#pnTwentyOne {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  border: 0.025rem solid var(--black);
}

#pnTwentyTwo {
  grid-column: 3 / 4;
  grid-row: 8 / 9;
  border: 0.025rem solid var(--black);
}

#pnTwentyThree {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  border: 0.025rem solid var(--black);
}

#pnTwentyFour {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
  border: 0.025rem solid var(--black);
}

#pnTwentyFive {
  grid-column: 3 / 4;
  grid-row: 9 / 10;
  border: 0.025rem solid var(--black);
}

#pnTwentySix {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
  border: 0.025rem solid var(--black);
}

#pnTwentySeven {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
  border: 0.025rem solid var(--black);
  font-size: 1rem;
}

#pnTwentyEight {
  grid-column: 3 / 4;
  grid-row: 10 / 11;
  border: 0.025rem solid var(--black);
}

#pnTwentyNine {
  grid-column: 2 / 3;
  grid-row: 10 / 11;
  border: 0.025rem solid var(--black);
}

#pnThirty {
  grid-column: 1 / 2;
  grid-row: 10 / 11;
  border: 0.025rem solid var(--black);
}

/*   */
#snOne {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  border: 0.025rem solid var(--black);
}

#snTwo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 0.025rem solid var(--black);
}

#snThree {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border: 0.025rem solid var(--black);
}

#snFour {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  border: 0.025rem solid var(--black);
}

#snFive {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 0.025rem solid var(--black);
}

#snSix {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 0.025rem solid var(--black);
}

#snSeven {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  border: 0.025rem solid var(--black);
}

#snEight {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border: 0.025rem solid var(--black);
}

#snNine {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border: 0.025rem solid var(--black);
}

#snTen {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  border: 0.025rem solid var(--black);
}

#snEleven {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  border: 0.025rem solid var(--black);
}

#snTwelve {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  border: 0.025rem solid var(--black);
}

#snThirteen {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  border: 0.025rem solid var(--black);
}

#snForteen {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  border: 0.025rem solid var(--black);
}

#snFifteen {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  border: 0.025rem solid var(--black);
}

#snSixteen {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  border: 0.025rem solid var(--black);
}

#snSeventeen {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  border: 0.025rem solid var(--black);
}

#snEighteen {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  border: 0.025rem solid var(--black);
}

#snNinteen {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
  border: 0.025rem solid var(--black);
}

#snTwenty {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  border: 0.025rem solid var(--black);
}

#snTwentyOne {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  border: 0.025rem solid var(--black);
}

#snTwentyTwo {
  grid-column: 3 / 4;
  grid-row: 8 / 9;
  border: 0.025rem solid var(--black);
}

#snTwentyThree {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  border: 0.025rem solid var(--black);
}

#snTwentyFour {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
  border: 0.025rem solid var(--black);
}

#snTwentyFive {
  grid-column: 3 / 4;
  grid-row: 9 / 10;
  border: 0.025rem solid var(--black);
}

#snTwentySix {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
  border: 0.025rem solid var(--black);
}

#snTwentySeven {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
  border: 0.025rem solid var(--black);
}

#snTwentyEight {
  grid-column: 3 / 4;
  grid-row: 10 / 11;
  border: 0.025rem solid var(--black);
}

#snTwentyNine {
  grid-column: 2 / 3;
  grid-row: 10 / 11;
  border: 0.025rem solid var(--black);
}

#snThirty {
  grid-column: 1 / 2;
  grid-row: 10 / 11;
  border: 0.025rem solid var(--black);
}

#snThirtyOne {
  grid-column: 3 / 4;
  grid-row: 11 / 12;
  border: 0.025rem solid var(--black);
}

#snThirtyTwo {
  grid-column: 2 / 3;
  grid-row: 11 / 12;
  border: 0.025rem solid var(--black);
}

#snThirtyThree {
  grid-column: 1 / 2;
  grid-row: 11 / 12;
  border: 0.025rem solid var(--black);
}

#snThirtyFour {
  grid-column: 3 / 4;
  grid-row: 12 / 13;
  border: 0.025rem solid var(--black);
}

#snThirtyFive {
  grid-column: 2 / 3;
  grid-row: 12 / 13;
  border: 0.025rem solid var(--black);
}

#snThirtySix {
  grid-column: 1 / 2;
  grid-row: 12 / 13;
  border: 0.025rem solid var(--black);
}

#snThirtySeven {
  grid-column: 3 / 4;
  grid-row: 13 / 14;
  border: 0.025rem solid var(--black);
}

#snThirtyEight {
  grid-column: 2 / 3;
  grid-row: 13 / 14;
  border: 0.025rem solid var(--black);
}

#snThirtyNine {
  grid-column: 1 / 2;
  grid-row: 13 / 14;
  border: 0.025rem solid var(--black);
}

#snForty {
  grid-column: 3 / 4;
  grid-row: 14 / 15;
  border: 0.025rem solid var(--black);
}

#snFortyOne {
  grid-column: 2 / 3;
  grid-row: 14 / 15;
  border: 0.025rem solid var(--black);
}

#snFortyTwo {
  grid-column: 1 / 2;
  grid-row: 14 / 15;
  border: 0.025rem solid var(--black);
}

#snFortyThree {
  grid-column: 3 / 4;
  grid-row: 15 / 16;
  border: 0.025rem solid var(--black);
}

#snFortyFour {
  grid-column: 2 / 3;
  grid-row: 15 / 16;
  border: 0.025rem solid var(--black);
}

#snFortyFive {
  grid-column: 1 / 2;
  grid-row: 15 / 16;
  border: 0.025rem solid var(--black);
}

#snFortySix {
  grid-column: 3 / 4;
  grid-row: 16 / 17;
  border: 0.025rem solid var(--black);
}

#snFortySeven {
  grid-column: 2 / 3;
  grid-row: 16 / 17;
  border: 0.025rem solid var(--black);
}

#snFortyEight {
  grid-column: 1 / 2;
  grid-row: 16 / 17;
  border: 0.025rem solid var(--black);
}

#snFortyNine {
  grid-column: 3 / 4;
  grid-row: 17 / 18;
  border: 0.025rem solid var(--black);
}

#snFifty {
  grid-column: 2 / 3;
  grid-row: 17 / 18;
  border: 0.025rem solid var(--black);
}

#snFiftyOne {
  grid-column: 1 / 2;
  grid-row: 17 / 18;
  border: 0.025rem solid var(--black);
}

#snFiftyTwo {
  grid-column: 3 / 4;
  grid-row: 18 / 19;
  border: 0.025rem solid var(--black);
}

#snFiftyThree {
  grid-column: 2 / 3;
  grid-row: 18 / 19;
  border: 0.025rem solid var(--black);
}

#snFiftyFour {
  grid-column: 1 / 2;
  grid-row: 18 / 19;
  border: 0.025rem solid var(--black);
}

#snFiftyFive {
  grid-column: 3 / 4;
  grid-row: 19 / 20;
  border: 0.025rem solid var(--black);
}

#snFiftySix {
  grid-column: 2 / 3;
  grid-row: 19 / 20;
  border: 0.025rem solid var(--black);
}

#snFiftySeven {
  grid-column: 1 / 2;
  grid-row: 19 / 20;
  border: 0.025rem solid var(--black);
}

#snFiftyEight {
  grid-column: 3 / 4;
  grid-row: 20 / 21;
  border: 0.025rem solid var(--black);
}

#snFiftyNine {
  grid-column: 2 / 3;
  grid-row: 20 / 21;
  border: 0.025rem solid var(--black);
}

#snSixty {
  grid-column: 1 / 2;
  grid-row: 20 / 21;
  border: 0.025rem solid var(--black);
}

#snSixtyOne {
  grid-column: 3 / 4;
  grid-row: 21 / 22;
  border: 0.025rem solid var(--black);
}

#snSixtyTwo {
  grid-column: 2 / 3;
  grid-row: 21 / 22;
  border: 0.025rem solid var(--black);
}

#snSixtyThree {
  grid-column: 1 / 2;
  grid-row: 21 / 22;
  border: 0.025rem solid var(--black);
}

#snSixtyFour {
  grid-column: 3 / 4;
  grid-row: 22 / 23;
  border: 0.025rem solid var(--black);
}

#snSixtyFive {
  grid-column: 2 / 3;
  grid-row: 22 / 23;
  border: 0.025rem solid var(--black);
}

#snSixtySix {
  grid-column: 1 / 2;
  grid-row: 22 / 23;
  border: 0.025rem solid var(--black);
}

#snSixtySeven {
  grid-column: 3 / 4;
  grid-row: 23 / 24;
  border: 0.025rem solid var(--black);
}

#snSixtyEight {
  grid-column: 2 / 3;
  grid-row: 23 / 24;
  border: 0.025rem solid var(--black);
}

#snSixtyNine {
  grid-column: 1 / 2;
  grid-row: 23 / 24;
  border: 0.025rem solid var(--black);
}

#snSeventy {
  grid-column: 3 / 4;
  grid-row: 24 / 25;
  border: 0.025rem solid var(--black);
}

#snSeventyOne {
  grid-column: 2 / 3;
  grid-row: 24 / 25;
  border: 0.025rem solid var(--black);
}

#snSeventyTwo {
  grid-column: 1 / 2;
  grid-row: 24 / 25;
  border: 0.025rem solid var(--black);
}

#snSeventyThree {
  grid-column: 3 / 4;
  grid-row: 25 / 26;
  border: 0.025rem solid var(--black);
}

#snSeventyFour {
  grid-column: 2 / 3;
  grid-row: 25 / 26;
  border: 0.025rem solid var(--black);
}

#snSeventyFive {
  grid-column: 1 / 2;
  grid-row: 25 / 26;
  border: 0.025rem solid var(--black);
}

#snSeventySix {
  grid-column: 3 / 4;
  grid-row: 26 / 27;
  border: 0.025rem solid var(--black);
}

#snSeventySeven {
  grid-column: 2 / 3;
  grid-row: 26 / 27;
  border: 0.025rem solid var(--black);
}

#snSeventyEight {
  grid-column: 1 / 2;
  grid-row: 26 / 27;
  border: 0.025rem solid var(--black);
}

#snSeventyNine {
  grid-column: 3 / 4;
  grid-row: 27 / 28;
  border: 0.025rem solid var(--black);
}

#snEighty {
  grid-column: 2 / 3;
  grid-row: 27 / 28;
  border: 0.025rem solid var(--black);
}

#snEightyOne {
  grid-column: 1 / 2;
  grid-row: 27 / 28;
  border: 0.025rem solid var(--black);
}

#snEightyTwo {
  grid-column: 3 / 4;
  grid-row: 28 / 29;
  border: 0.025rem solid var(--black);
}

#snEightyThree {
  grid-column: 2 / 3;
  grid-row: 28 / 29;
  border: 0.025rem solid var(--black);
}

#snEightyFour {
  grid-column: 1 / 2;
  grid-row: 28 / 29;
  border: 0.025rem solid var(--black);
}

#snEightyFive {
  grid-column: 3 / 4;
  grid-row: 29 / 30;
  border: 0.025rem solid var(--black);
}

#snEightySix {
  grid-column: 2 / 3;
  grid-row: 29 / 30;
  border: 0.025rem solid var(--black);
}

#snEightySeven {
  grid-column: 1 / 2;
  grid-row: 29 / 30;
  border: 0.025rem solid var(--black);
}

#snEightyEight {
  grid-column: 3 / 4;
  grid-row: 30 / 31;
  border: 0.025rem solid var(--black);
}

#snEightyNine {
  grid-column: 2 / 3;
  grid-row: 30 / 31;
  border: 0.025rem solid var(--black);
}

#snNinety {
  grid-column: 1 / 2;
  grid-row: 30 / 31;
  border: 0.025rem solid var(--black);
}

#snNinetyOne {
  grid-column: 3 / 4;
  grid-row: 31 / 32;
  border: 0.025rem solid var(--black);
}

#snNinetyTwo {
  grid-column: 2 / 3;
  grid-row: 31 / 32;
  border: 0.025rem solid var(--black);
}

#snNinetyThree {
  grid-column: 1 / 2;
  grid-row: 31 / 32;
  border: 0.025rem solid var(--black);
}

#snNinetyFour {
  grid-column: 3 / 4;
  grid-row: 32 / 33;
  border: 0.025rem solid var(--black);
}

#snNinetyFive {
  grid-column: 2 / 3;
  grid-row: 32 / 33;
  border: 0.025rem solid var(--black);
}

#snNinetySix {
  grid-column: 1 / 2;
  grid-row: 32 / 33;
  border: 0.025rem solid var(--black);
}

#snNinetySeven {
  grid-column: 3 / 4;
  grid-row: 33 / 34;
  border: 0.025rem solid var(--black);
}

#snNinetyEight {
  grid-column: 2 / 3;
  grid-row: 33 / 34;
  border: 0.025rem solid var(--black);
}

#snNinetyNine {
  grid-column: 1 / 2;
  grid-row: 33 / 34;
  border: 0.025rem solid var(--black);
}

#snHundred {
  grid-column: 3 / 4;
  grid-row: 34 / 35;
  border: 0.025rem solid var(--black);
}

#snHundredOne {
  grid-column: 2 / 3;
  grid-row: 34 / 35;
  border: 0.025rem solid var(--black);
}

#snHundredTwo {
  grid-column: 1 / 2;
  grid-row: 34 / 35;
  border: 0.025rem solid var(--black);
}

#snHundredThree {
  grid-column: 3 / 4;
  grid-row: 35 / 36;
  border: 0.025rem solid var(--black);
}

#snHundredFour {
  grid-column: 2 / 3;
  grid-row: 35 / 36;
  border: 0.025rem solid var(--black);
}

#snHundredFive {
  grid-column: 1 / 2;
  grid-row: 35 / 36;
  border: 0.025rem solid var(--black);
  font-size: 1rem;
}

/* #snHundredSix {
  grid-column: 3 / 4;
  grid-row: 36 / 37;
  border: 0.025rem solid rgb(0, 0, 0);
}

#snHundredSeven {
  grid-column: 2 / 3;
  grid-row: 36 / 37;
  border: 0.025rem solid rgb(0, 0, 0);
}

#snHundredEight {
  grid-column: 1 / 2;
  grid-row: 36 / 37;
  border: 0.025rem solid rgb(0, 0, 0);
}

#snHundredNine {
  grid-column: 3 / 4;
  grid-row: 37 / 38;
  border: 0.025rem solid rgb(0, 0, 0);
}

#snHundredTen {
  grid-column: 2 / 3;
  grid-row: 37 / 38;
  border: 0.025rem solid rgb(0, 0, 0);
}

#snHundredEleven {
  grid-column: 1 / 2;
  grid-row: 37 / 38;
  border: 0.025rem solid rgb(0, 0, 0);
}

#snHundredTwelve {
  grid-column: 3 / 4;
  grid-row: 38 / 39;
  border: 0.025rem solid rgb(0, 0, 0);
}

#snHundredThirteen {
  grid-column: 2 / 3;
  grid-row: 38 / 39;
  border: 0.025rem solid rgb(0, 0, 0);
}

#snHundredForteen {
  grid-column: 1 / 2;
  grid-row: 38 / 39;
  border: 0.025rem solid rgb(0, 0, 0);
}
 */
/* #icon {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
} */