:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgb(0, 0, 0);
  --blue: rgb(0, 0, 255);
  --red: rgb(255, 0, 0);
  --font-nastaliq: 'Nastaliq', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nastaliq;
  src: url(Nastaliq.ttf);
}

#frontPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#mainHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--white);
  top: 0;
  position: sticky;
  z-index: 1;
}

.notice {
  font-size: 1rem;
  font-family: var(--font-nastaliq);
  color: rgb(255, 0, 0);
}

#head {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.0125rem solid var(--blue);
  font-size: 1.5rem;
  font-family: var(--font-nastaliq);
}

.anchor {
  text-decoration: none;
  color: var(--black);
}

#top {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-nastaliq);
  font-size: 1rem;
  border: 0.0125rem solid var(--blue);
}

#number {
  width: 75vw;
}

#name {
  width: 25vw;
}

#page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.chapter {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0125rem solid var(--blue);
  font-family: var(--font-nastaliq);
  font-size: 1rem;
}

.topic {
  width: 100vw;
  display: flex;
  border: 0.0125rem solid var(--blue);
  font-family: var(--font-nastaliq);
  font-size: 1rem;
  cursor: pointer;
}

.refName {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4vw;
}

.topicName {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4vw;
}

.caret {
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caretL {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8px 5px 0;
  border-color: transparent var(--black) transparent transparent;
}

.caretD {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: var(--black) transparent transparent transparent;
}

.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7,
.content8,
.content9,
.content10,
.content11,
.content12,
.content13,
.content14,
.content15,
.content16,
.content17,
.content18,
.content19,
.content20,
.content21,
.content22,
.content23,
.content24,
.content25,
.content26,
.content27,
.content28,
.content29,
.content30,
.content31,
.content32,
.content33,
.content34,
.content35,
.content36,
.content37,
.content38,
.content39,
.content40,
.content41,
.content42,
.content43,
.content44,
.content45,
.content46,
.content47,
.content48,
.content49,
.content50,
.content51,
.content52,
.content53,
.content54,
.content55,
.content56,
.content57 {
  width: 100vw;
  display: none;
  font-family: var(--font-nastaliq);
  font-size: 1rem;
  border: 0.0125rem solid var(--blue);
}

.show-content {
  width: 100vw;
  display: flex;
  font-family: var(--font-nastaliq);
  font-size: 1rem;
  border: 0.0125rem solid rgb(0, 0, 255);
}

.sura {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ayat {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.exit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: var(--red);
  text-align: right;
  padding-right: 2vw;
  cursor: pointer;
}

.controls {
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
}